kbd {
    background-color: var(--sl-color-gray-6);
    border-radius: 3px;
    border: 1px solid var(--sl-color-gray-3);
    box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.2),
            0 2px 0 0 rgba(255, 255, 255, 0.2) inset;
    color: var(--sl-color-text);
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1.2;
    padding: 1px 3px;
    white-space: nowrap;
}
